<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="./assets/favicon.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Platform</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:400,700">
  <script src="https://kit.fontawesome.com/bd064b5633.js" crossorigin="anonymous"></script>
  <style>
    html, body {
      padding: 0;
      margin: 0;
      /* background-color: #f8f8f8; */
      background: grey;
      height: 100%;
      width: 100%;
      font-family: 'Montserrat';
      color: #0f224a;
    }

    main {
      width: 919px;
      margin: auto;
      background-color: #fff;
      height: 100%;
      min-height: 900px;
    }

    header {
      padding-top: 70px;
    }

    .header-logo {
      margin: auto;
      display: block;
    }

    .title {
      margin: 25px 0 0 0;
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    }

    .subtitle {
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      margin: 20px auto 0;
      width: 650px;
      letter-spacing: 0px;
    }

    .button-link {
      font-family: 'Karla';
      margin: 20px auto 0;
      padding: 11px;
      text-align: center;
      border-radius: 6px;
      display: block;
      width: 207px;
      font-size: 10px;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      background: linear-gradient(-135deg, rgb(75, 124, 255) 0%, rgb(136, 96, 251) 100%);
      letter-spacing: 1px;
    }

    .buildpack {
      margin-top: 50px;
    }

    .buildpack hr {
      border: 1px solid rgb(213, 216, 227);
      margin: auto;
      width: 757px;
    }

    .buildpack-img {
      display: block;
      margin: auto;
      position: relative;
      top: -21px;
      padding: 0 25px;
      background: #fff;
    }

    .link-wrapper {
      list-style-type: none;
      padding: 0;
      margin: 15px auto;
      width: 580px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .link-wrapper a {
      text-decoration: none;
      color: #0f224a;
      font-size: 14px;
      font-weight: 500;
    }

    .link-wrapper a:hover {
      color:#8969E6;
    }

    .link-wrapper svg {
      margin-right: 4px;
      position: relative;
      top: 1px
    }

    .link-wrapper a:hover svg path {
      fill: #8969E6;
    }

    .far {
      position: relative;
      top: 1px;
    }

    footer {
      height: 175px;
      width: 100%;
      position: fixed;
      bottom: 0px;
      background-image: url('./assets/waves.svg');
      /* background-image: url('./assets/Waves_platforms.svg'); */
      background-repeat: no-repeat;
      background-position: 0px 6px;
    }
  </style>
</head>
<body>
  <main>
    <header>
      <img class="header-logo" src="./assets/artifakt-logo.svg" alt="Artifakt Logo"/>
    </header>
    <section>
      <h1 class="title">Get Started on Artifakt with Symfony</h1>
      <h2 class="subtitle">You’ve just deployed a Symfony sample application. You can use it as a starter for your own projects or as an easy way to explore and understand how the Artifakt platform works.</h2>
      <a class="button-link" href="https://console.artifakt.io/" title="Manage with Artifakt" >Manage with Artifakt</a>
      <div class="buildpack">
        <hr class="buildpack-decorative-line" aria-hidden="true">
        <img class="buildpack-img" src="./assets/symfony.png" alt="Symfony Logo" width="50px">
      </div>
      <ul class="link-wrapper">
        <li><a href="https://help.artifakt.com" title="Help Center"><i class="far fa-life-ring"></i> Help Center</a></li>
        <li><a href="https://docs.artifakt.com/" title="Documentation"><i class="far fa-question-circle"></i> Documentation</a></li>
        <li><a href="https://www.artifakt.com/" title="Official Site"><svg width="16px" height="11px" viewBox="0 0 16 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Platofrm-Default-Page---Option-2" transform="translate(-920.000000, -449.000000)" fill="#0F224A" fill-rule="nonzero">
                  <g id="Group-2" transform="translate(431.000000, 445.000000)">
                      <g id="Group-6" transform="translate(489.000000, 0.000000)">
                          <path d="M14.9839608,8.43219039 C13.6364359,7.02008824 11.4350738,7.02008824 10.0875489,8.43219039 L9.46167144,9.11112591 C9.43963986,9.12672026 9.41760828,9.14208182 9.40277064,9.16512421 C9.40277064,9.16512421 9.39535185,9.16512421 9.39535185,9.17303779 C8.99788371,9.56638745 8.48238912,9.77469988 7.9374441,9.75933827 C7.39272388,9.74397671 6.88464809,9.50470838 6.51640551,9.0957643 C5.74327605,8.23923951 5.78014521,6.88904924 6.59756279,6.07884198 C7.41475546,5.26863472 8.70337956,5.30727141 9.47650908,6.15588268 C9.62376115,6.31811032 9.734144,6.50314762 9.82991401,6.69609843 C10.0138104,7.05872492 10.4189222,7.21303905 10.779746,7.04336337 C10.78694,7.04336337 10.7943588,7.03568259 10.7943588,7.03568259 C11.1331509,6.85041256 11.280403,6.41051257 11.1111193,6.04788607 C10.9564485,5.70853465 10.7502956,5.39990646 10.5072735,5.12968215 C9.19661778,3.67917605 7.00244973,3.61749697 5.61086157,4.99096244 C4.91866448,5.67757874 4.55784075,6.58810183 4.52839033,7.51398652 C4.52097154,7.8612514 4.55784075,8.21619718 4.63899804,8.55554855 C4.65361082,8.60954685 4.6684484,8.66377789 4.68306119,8.72545702 C4.69789883,8.77945533 4.71993046,8.83345363 4.73454325,8.88745193 C4.73454325,8.88745193 4.73454325,8.89513271 4.73454325,8.89513271 C4.74938083,8.94913101 4.77141247,8.99544853 4.79344404,9.041766 C4.79344404,9.04944683 4.80086289,9.04944683 4.80086289,9.05712761 C4.82289447,9.10344513 4.83773205,9.1497626 4.85976369,9.19608012 C4.86718248,9.2037609 4.86718248,9.21144174 4.86718248,9.21912252 C4.88921411,9.26544004 4.91124569,9.30407673 4.93350212,9.35039425 C4.94069611,9.35807503 4.94069611,9.37343664 4.94811491,9.38135016 C4.97014654,9.41975411 4.99240291,9.45839085 5.01443455,9.50470838 C5.02185334,9.52006993 5.02904733,9.52775071 5.03646618,9.54334506 C5.05849776,9.58198181 5.08075419,9.62038576 5.11020462,9.6590225 C5.11739861,9.67438406 5.1248174,9.68206484 5.13223619,9.69765919 C5.15426777,9.73629587 5.1837182,9.7670191 5.20574983,9.80565579 C5.21316862,9.82101741 5.2280062,9.8366117 5.2352002,9.84429248 C5.26465062,9.88269649 5.28690706,9.91365239 5.31635748,9.95228908 C5.32355148,9.96765069 5.33097027,9.97533147 5.34580791,9.99092582 C5.38245227,10.0370106 5.42674034,10.0833281 5.4636095,10.1296456 C6.0157485,10.7392213 6.72997722,11.1251229 7.51794432,11.2331195 C7.51052553,11.2408003 7.50310668,11.2484811 7.50310668,11.2638427 C7.33382303,11.5571093 7.37069225,11.943011 7.61348953,12.1899601 C7.89338083,12.4753132 8.34997463,12.4676324 8.62222234,12.1743658 L11.0888629,9.50470838 C11.7662223,8.79481688 12.8118244,8.69450112 13.5923727,9.19608012 C13.725012,9.28103439 13.8500075,9.38135016 13.9606152,9.50470838 C14.7557763,10.337958 14.7557763,11.688381 13.9606152,12.5216307 C13.5775351,12.9228939 13.0622652,13.146568 12.5247391,13.146568 L3.46075673,13.146568 C3.43872515,13.146568 3.41669352,13.146568 3.39443714,13.146568 C3.3798243,13.146568 3.37240551,13.146568 3.35779272,13.146568 C3.3283423,13.146568 3.30608587,13.146568 3.27663544,13.1388871 C3.12938343,13.1235256 2.98955015,13.0925697 2.84971693,13.0462521 C2.5403752,12.9459363 2.2607087,12.7685799 2.02510541,12.5216307 C1.64202525,12.1203674 1.42867839,11.5803844 1.42867839,11.0092128 C1.42867839,10.4382738 1.64202525,9.90597162 2.02510541,9.50470838 C2.34164113,9.17303779 2.74652807,8.96449262 3.19570301,8.90281348 L3.22515344,8.90281348 C3.61542759,8.85649602 3.89531889,8.47850791 3.84361209,8.06956383 C3.79954888,7.66061981 3.43872515,7.36735318 3.048451,7.42135148 L3.00438779,7.42903226 C2.90861772,7.44462661 2.81284771,7.45998822 2.72449643,7.48303056 C2.07658741,7.62966391 1.48757919,7.96156723 1.00895381,8.46314629 C0.353625946,9.1497626 -0.00719778119,10.0602857 0.000108837922,11.0324879 C0.000108837922,12.0046901 0.361044737,12.9152132 1.01637261,13.6018295 C1.67147568,14.2886786 2.5403752,14.6666667 3.46075673,14.6666667 L12.5393519,14.6666667 C12.6425407,14.6666667 12.7383107,14.6589859 12.8412748,14.6513051 C13.6512735,14.5740317 14.4023714,14.2114051 14.9839608,13.6018295 C16.3386797,12.1513234 16.3386797,9.85197331 14.9839608,8.43219039 Z M14.1416742,9.61515919 C14.1291742,9.60226859 14.1291742,9.60226859 14.1162836,9.58898729 C14.1291742,9.60226859 14.1416742,9.61515919 14.1416742,9.61515919 Z M8.11860133,9.89261863 C8.08081503,9.89261863 8.04341048,9.90550923 8.01860133,9.90550923 C8.05600588,9.90550923 8.09341052,9.90550923 8.11860133,9.89261863 Z M8.4528371,9.81557794 C8.4399465,9.81557794 8.4274465,9.81557794 8.4145559,9.82846854 C8.4274465,9.81557794 8.4399465,9.81557794 8.4528371,9.81557794 Z M8.34519017,9.84622217 C8.33229957,9.84622217 8.30690897,9.85950337 8.29401827,9.85950337 C8.30690897,9.84622217 8.31940897,9.84622217 8.34519017,9.84622217 Z M8.22738851,9.86957624 C8.21449791,9.86957624 8.20160731,9.86957624 8.17621671,9.88246684 C8.20160731,9.88246684 8.21449791,9.88246684 8.22738851,9.86957624 Z M7.99999295,9.90821292 C7.97421175,9.90821292 7.93593045,9.90821292 7.91014925,9.92110352 C7.93593045,9.92110352 7.97421175,9.90821292 7.99999295,9.90821292 Z M7.84189883,9.91654491 C7.80502961,9.91654491 7.76074161,9.91654491 7.71667839,9.91654491 C7.76074161,9.92943561 7.79761082,9.92943561 7.84189883,9.91654491 Z M13.6069855,9.18839934 C13.6881427,9.23471687 13.7616563,9.28871517 13.8353947,9.34271347 C13.7616563,9.28871517 13.6881427,9.23471687 13.6069855,9.18839934 Z M13.9134898,9.40684676 C13.9005991,9.39356556 13.9005991,9.39356556 13.8880991,9.38067486 C13.8880991,9.38067486 13.9005991,9.39356556 13.9134898,9.40684676 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </g>
      </svg>Artifakt</a></li>
      </ul>
    </section>
    <footer>
      <!-- <img class="footer-waves" src="./assets/waves_2.svg" aria-hidden="true"/> -->
    </footer>
  </main>
</body>
</html>